/* Mixins  */

@mixin container-text($max: 780px) {
  max-width: $max;
  margin-left: auto;
  margin-right: auto;
}

@mixin soft-border {
  border: 1px solid rgba(0, 0, 0, 0.06);
}

@mixin card-base {
  border-radius: $radius-card;
  overflow: hidden;
  box-shadow: $shadow-soft;
}

@mixin clamp-title($min, $vw, $max) {
  font-size: clamp($min, $vw, $max);
}
